.header-controls-search-form {
    position: absolute;
    top: calc(50% - 19px);
    right: 65px;
    display: block;

    width: 233px;
    height: 38px;
    padding: 0 40px 0 20px;
    border-radius: 50px;

    text-align: right;

    background: #ffffff;
    box-shadow: 0 0 10px #d4e4e6;
}

.catalog-search-form {
    height: 60px !important;

    display: block;

    width: 100%;
    height: 38px;
    margin-bottom: 2em;
    padding: 0 20px;
    border-radius: 50px;

    background: #ffffff;
    box-shadow: 0 0 10px #d4e4e6;
}

.form-group {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    height: 100%;
    color: #333333;
}

.catalog-search-form .form-control,
.header-controls-search-form .form-control{
    border: none;
    outline: none;
    box-shadow: none;
}

